<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3307/mealhut_db</property>
    <property name="connection.username">root</property>
    <property name="connection.password">8080</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="current_session_context_class">thread</property>

    <!--    DB tables mapping-->
    <mapping class="com.ksr.webapp.entity.User"/>
    <mapping class="com.ksr.webapp.entity.UserProfile"/>
    <mapping class="com.ksr.webapp.entity.BillingAddress"/>
    <mapping class="com.ksr.webapp.entity.Admin"/>
    <mapping class="com.ksr.webapp.entity.Category"/>
    <mapping class="com.ksr.webapp.entity.Item"/>
  </session-factory>
</hibernate-configuration>